<%= tag.div id: dom_id(password), class: "border p-4 rounded-lg shadow-md mt-4  " do %>
  <%= link_to password, class: "block text-blue-500 font-bold hover:bg-gray-100" do %>
    <p class="text-lg font-semibold"><%= password.username %></p>
    <p class="text-sm text-gray-700"><%= password.url %></p>
  <% end %>
<% end %>
