/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Merienda');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.notice{
    background-color: rgb(84, 235, 142);
    border-radius: 0.25rem;
    padding: 1rem;
}

.railspass {
    color: #434b54;
    font-size: 3rem;
    margin-top: 1rem;
    font-family: Merienda, sans-serif;
    font-weight: 600;
  }
  

.solgan {
    color:  #3778c2;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Merienda, sans-serif;
    font-weight: 600;
  }